{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": [
      "packages/**/tsconfig.json"
    ]
  },
  "globals": {
    "ma": true
  },
  "rules": {
    "react/prop-types": "off",
    "no-unused-vars": "warn",
    "no-empty": "warn",
    "no-restricted-globals": "off",
    "no-dupe-class-members": "off",
    "prefer-spread": "warn",
    "prefer-rest-params": "warn",
    "guard-for-in": "off",
    "require-await": "off",
    "promise/param-names": "off",
    "lines-between-class-members": "off",
    "promise/no-return-wrap": "off",
    "prefer-promise-reject-errors": "off",
    "prettier/prettier": "warn"
  }
}
