.DS_Store

*.iml
.gradle
local.properties
.idea
app/src/main/assets
captures
.externalNativeBuild
.cxx

.project
*.bak
*.zip

node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.npmrc

build
dist
!packages/mini/dist

packages/pack/_temp
packages/pack/_dev.js

packages/devtools/dev
packages/devtools/frontend
