*.iml
.gradle
local.properties
.idea
.DS_Store
build
android/app/build
android/app/src/main/assets/*
captures
.externalNativeBuild
.cxx

.project
*.bak
*.zip

node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.npmrc

framework/dist
framework/dev

pack/dist
pack/_temp
pack/_dev.js

devtools/dist
devtools/build
devtools/.cache
devtools/frontend
