<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Page</title>
    <style>
      <%- __TEMPLATE_APP_CSS__ %>
    </style>
    <style>
      <%- __TEMPLATE_CSS__ %>
    </style>
    <script src="../../../../framework/webview.js"></script>
  </head>
  <body>
    <dom-bind id="_binder">
      <template>
        <my-view id="app"><%- __TEMPLATE_HTML__ %></my-view>
      </template>
    </dom-bind>
    <script>
      window._binder = document.getElementById("_binder");
      <%- __TEMPLATE_JS__ %>
    </script>
  </body>
</html>
